/**
 * _settings.color.scss
 *
 * Your color palette should sit here and always follow the same namespace:
 * `$color-`
 */
$color-background: #ffffff;
$color-foreground: #151515;


$red: #dc143c;
$darkBlue: #003893;
$black: #181818;
$white: #ffffff;
$green: #13824a;
$borderBottom: #f8f8f8;
$borderTop: #e5e5e5;